html,
body {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color:	#E7F0DC;
  margin: 20px;
  border-radius: 25px;
  
}

#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px; /* this spaces out the cards evenly */
  padding: 40px;
}

.title {
  text-align:center;
  margin: 0;
  font-size: 3em;
  font-weight: normal;
  color: #658147;
}

body{
  background: linear-gradient(90deg, #658147, #597445);
  font-family: 'Georgia', serif;
}

.card { /*the card style */
  background: #729762; 
  border-radius: 20px;
  padding: 20px;
  width: 232px;
  font-size: 2em;
  text-align:center;
}


.card img {
  width: 100%;
  height: 230px;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.rating {
  font-size: 0.85em;
  color: #E7F0DC;
  margin-bottom: 8px;
}

.drink {
  font-size: 0.85em;
  color: #E7F0DC;
  margin-bottom: 8px;
}

.cafeName {
  font-size: 1.5em;
  color: #DDEB9D;
  font-weight: bold;
  margin-bottom: 8px;
}


h2 {
  font-size: 2.5em;       
  font-weight: bold;   
  color: #E7F0DC;      
  margin-top: 20px;
  margin-left: 20px;
  text-align:center;  
  font-family: 'Georgia', serif; 
}

.dropdown button{
  font-size: 1.5em;       
  color: #E7F0DC;
  background-color:#97866A;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-family: 'Georgia', serif;
}

.dropdown .item{
  display: block;
  color:#97866A;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 1.33em;
  cursor: pointer;
}

.dropdown .item:hover{
  background-color:	#c0c2bd;
}
.dropdown .content{ /*the background color of the rating and price*/
  font-weight: bold;
  position:relative;
  background-color:#E7F0DC;
  min-width: 145.5px;
  cursor: pointer;
  display: none;
}

.dropdown .show {
  display: block; 
}

.dropdown { /*moves the dropdown button to the center*/
  display: flex;
  justify-content: center;
  position: relative; 
  margin-left: 20px; 
}


.new-dropdown button{
  font-size: 1.5em;       
  color: #E7F0DC;
  background-color:#97866A;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-family: 'Georgia', serif;
}

.new-dropdown {
  display: flex;
  justify-content:center;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

.new-dropdown .elements{ /*changes background color of filtering options*/
  display: none;
  background-color: #E7F0DC;
  color: #97866A;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.new-dropdown .item:hover{
  background-color:	#c0c2bd;
}

.new-dropdown .show{
  display: block;
}
